SMT-COMP*.tar.gz
docker/SMT-COMP*.tar.gz
docker/scrambler
docker/postprocessors
docker/trace-executor
docker/dolmen
docker/opam-2.1.2-x86_64-linux
model-validation-track/ModelValidator
model-validation-track/ModelValidator.spec
model-validation-track/__pycache__/
model-validation-track/build/
model-validation-track/dist/
unsat-core-track/scrambler
unsat-core-track/download
